html {
    position: relative;
    min-height: 100%;
}
body{
    margin:0;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    min-height: 100%;
}
#myMap{
    height: 600px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a4b78;
}
ul.horizontal li {
    float: left;
}
ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;

}
ul.horizontal li a.active {
    background-color: #1b262e;
    
}
ul.horizontal li img {
    margin: 5px;
}
ul.horizontal li p {
    color: white;
    font-weight: bolder;
    margin-right: 14px;
    margin-top: 15px; 
}

.container-card{
    margin: auto;
    width: 55%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 28%;
    /* margin: auto; */
    text-align: center;
    font-family: arial;
    float: left;
    margin: 15px;
  }
  

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #1b262e;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.9;
  }



.footer {
    clear: both;
    position: relative;
    margin-bottom: 2px;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: #333;
    overflow: hidden;
}
.footer .footer-text{
    color: #fff;
    text-align: center;
    padding: 3rem 0 3rem;

}
.footer-text span a{
    color: white;
    text-decoration: none;
}
